<section class="height100" >
  <div class="container  text-center  ">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div>

          <h1 class="text-color mt-5 fw-bold">CONATCT SECTION</h1>
          <div class="line-1 text-color"></div>
          <i class="fa-solid fa-star text-color"></i>
        </div>
      </div>
    </div>


    <form class=" mb-3 mt-2   row  formContactUs">
         <div class="col-md-12 ">
          <mat-form-field class="example-full-width" >
            <mat-label >userName</mat-label>
            <input type="text" matInput placeholder="Ex. Ahmed Mahdy">

          </mat-form-field>
        </div>

        <div class="col-md-12  ">

          <mat-form-field class="example-full-width">
            <mat-label>userAge</mat-label>
            <input type="number" matInput placeholder="Ex. 20 years old">

          </mat-form-field>
        </div>

        <div class="col-md-12  ">

          <mat-form-field class="example-full-width">
            <mat-label>userEmail</mat-label>
            <input type="text" matInput placeholder="Ex. pat@example.com">

          </mat-form-field>
        </div>

        <div class="col-md-12">

          <mat-form-field class="example-full-width">
            <mat-label>userPassword</mat-label>
            <input type="text" matInput placeholder="Ex. *******">

          </mat-form-field>
        </div>
       <div class="col-md-12">
        <button class="btn btn">send Message</button>

      </div>

    </form>

  </div>
</section>


