<section class="py-5 about">
    <div class="container  text-center py-5 mt-5">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <div >
                    
                    <h1 class="text-white mt-5 fw-bold">ABOUT COMPONENT</h1>
                    <div class="line-1 "></div>
                    <i class="fa-solid fa-star text-white"></i>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-white mt-2">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-white mt-2">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

