.line-1::after{
  content: "";
  background-color: white;
  width: 80px;
  height: 4px;
  position: absolute;
  margin-left: 22px;
  margin-top: 10px;


}
.line-1::before{
  content: "";
  background-color: white;
  width: 80px;
  height: 4px;
  position: absolute;
  margin-left: 50px;
  margin-top: 10px;
  display: block;
} 

.home {
  background-color: #1ABC9C;
  height: 100vh;
}